<div class="main">
  <div class="title">
    <i class="bi bi-code"></i>
    <h1>Projects</h1>
    <i class="bi bi-code-slash"></i>
  </div>

  <div class="hr">
    <hr />
  </div>

  <div class="flex-container">
    <img
      src="../../assets/images/Screen Shot 2022-04-27 at 4.14.39 PM.png"
      alt=""
    />
    <div class="content">
      <h3>The Cooperators Insurance</h3>
      <p>
        Helped develop The Cooperators web app; Utilized Capco's front end
        framework Platform Zero; Developed with Angular/Typescript and Angular
        Material.
      </p>
    </div>
  </div>
  <div class="flex-container">
    <div class="content">
      <h3>CDIC Insurance</h3>
      <p>
        Developed mock up user interface for CDIC Insurace; Adhered to UI/UX
        wireframes; Developed with HTML, CSS, and JavaScript.
      </p>
    </div>
    <img
      src="../../assets/images/Screen Shot 2022-04-27 at 4.15.26 PM.png"
      alt=""
    />
  </div>
</div>
