<div class="sidebar">
  <div class="sidebar-content">
    <h1 class="e-signature">Scott S</h1>
    <hr />
    <h3>Full-Stack Developer</h3>
    <hr />
    <nav>
      <ul class="nav-main">
        <a href="/">Home</a>
        <a [routerLink]="'/about'">About</a>
        <a [routerLink]="'/projects'">Projects</a>
        <a [routerLink]="'/contact'">Contact</a>
      </ul>
    </nav>
    <div class="social">
      <a href="mailto:ssmythw@outlook.com"><i class="bi bi-envelope"></i></a>
      <a href="https://github.com/ssmythw"><i class="bi bi-github"></i></a>
    </div>
  </div>
</div>
