<div class="main">
  <img src="../../assets/images/photo-1537498425277-c283d32ef9db.avif" alt="" />
  <div class="title">
    <h1 class="mni">My name is</h1>
    <h1>Scott Smyth</h1>
    <div class="slider-wrapper">
      <h2 class="icode">I code in:</h2>
      <div class="slider">
        <div class="slider-text1">Angular / React</div>
        <div class="slider-text2">JavaScript</div>
        <div class="slider-text3">CSS3</div>
        <div class="slider-text4">HTML5</div>
      </div>
    </div>
  </div>
</div>
